body 
  div class="container"
   div class="jumbotron"
    h1 Flatiron Ruby005 Countdown
    h2#countdown-holder Countdown goes here!

    div class="margin-base-vertical"
	  small class="text-muted" <a href="https://www.flickr.com/photos/sordie/11216849885/">Background picture by Thomas Renken @flickr</a>. Used under <a href="http://creativecommons.org/licenses/by/2.0/deed.en">Creative Commons - Attribution</a>.</small>
	




javascript:
	var endDate = new Date(2014,05,02,09,00,00);
	var timeSpan = countdown(null, endDate );
	var clock = document.getElementById("countdown-holder");

	var timer = setInterval(function() {
		console.log(timeSpan = countdown(null, endDate ));
		if(timeSpan < 1)
		{
			clearInterval(timer); // need to find a way to set timespan at the global level so even after someone refreshes the page the timer doesn't run and the new clock text appears

		}
		console.log(clock.innerHTML = countdown(null, endDate ).toString());
	},1000);